<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project</title>
</head>
<body>
    <h1>Project</h1>
    <a href="/">Back Home</a>
    <table>
            <thead>
                <<th>ID</th>
                <th>Nama</th>
                <th>Status</th>
            </thead>
            <tbody>
                <% data.forEach(row=>{%>
                <<td><%=row.id%></td>
                <td><%=row.nama%></td>
                <td><%=row.status%></td>
                <%})%>
            </tbody>
        </table>
        <form action="/supervisor/<%=row.id%>" method="POST">
            <input type="text" name="nama" value="<%=row.nama%>" >
            <input type="text" name="email" value="<%=row.email%>">
        </form>
</body>
</html>